@page "/usuarios/{id}"
@using Entregable4.Model;
@using Entregable4.Util;
@inject PostClient client;



<h1>Detalle de Usuario</h1>
<h2>ID: @postdto.id</h2>
<p><b>Nombre:</b>  @postdto.name</p>
<p><b>Nombre Usuario:</b> @postdto.username</p>
<p><b>Email:</b> @postdto.email</p>
<p><b>Dirección:</b> <br> Street: @postdto.address.street <br>  Suite: @postdto.address.suite <br>
City: @postdto.address.city <br> Zipcode: @postdto.address.zipcode <br> Geo: Lat: @postdto.address.geo.lat, Lng: @postdto.address.geo.lng </p>
<p><b>Telefono:</b> @postdto.phone</p>
<p><b>Website:</b> @postdto.website</p>
<p><b>Compañia:</b> <br> Nombre: @postdto.company.name <br> CatchPhrase: @postdto.company.catchPhrase <br> BS: @postdto.company.bs</p>




@code{

    [Parameter]
    public string id {get; set;}

    private PostDTO postdto = new PostDTO();

    protected override async Task OnInitializedAsync(){
        postdto = await client.GetUser(id);
    }


        

}





